/* geral */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px; /* 100% */
  letter-spacing: -0.45px;
}

#destaque {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px; /* 100% */
  letter-spacing: -0.45px;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px; /* 105% */
  letter-spacing: -0.45px;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125rem;
  letter-spacing: -0.45px;
  color: #939393;
}

li {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.45px;
}
/* fim geral */

/* botao */
.button-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 998;
}

.pulsating-button {
  animation: pulse 8s infinite;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  height: 50px;
  background-color: #ff7d99;
  color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(255, 125, 153, 0.5);
  border-radius: 64px;
  padding: 0px 32px; /* Reduzi a largura do padding para dar espaço extra */
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  min-width: 128px;
  margin-bottom: 64px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* fim botao */

/* header */
.banner-mobile {
  width: 100%;
  overflow: hidden;
}

.banner-mobile img {
  width: 100%; /* A imagem ocupará 100% da largura do container */
  height: auto; /* A altura será ajustada automaticamente para manter a proporção original da imagem */
  display: block; /* Remove espaço extra que pode ser causado por imagens inline */
}

.banner-elements {
  position: absolute;
  top: 0;
  padding: 64px;
}

.banner-elements h1 {
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.destaque {
  font-size: 48px;
  font-weight: 800;
  color: #ff7d99;
}

.banner-logo {
  margin-bottom: 128px;
  text-align: center;
}
/* fim header */

/* sobre */
.quem {
  text-align: center;
  padding: 128px 128px;
}

.quem h2 {
  margin-bottom: 16px;
  color: #77d5d0;
}

.conheca {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px 128px;
  gap: 32px;
  margin-top: 64px;
}

.conheca h2 {
  margin-bottom: 16px;
  color: #77d5d0;
}
/* fim sobre */

/* cards */
#cards {
  padding: 0px 128px;
  margin: 0px 0px 128px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.servicos {
  margin: 16px;
  border-radius: 16px;
  padding: 32px;
  border: 2px solid #77d5d0;
  height: 60%;
}

.servicos h3 {
  color: #77d5d0;
  margin-top: 16px;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 64px;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid #77d5d0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 48px; /* Posicione o círculo acima do título ajustando o valor conforme necessário */
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); /* Centralize horizontalmente */
}
/* fim cards */

/* carrossel */
#carrossel {
  display: none;
}
.carr {
  margin: 16px;
  border-radius: 16px;
  padding: 32px;
  background: #77d5d0;
  flex: 0 0 100%;
  max-width: 100%;
}

.carrgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carr h2 {
  color: #fff;
  margin-bottom: 16px;
}

.carr p {
  color: #36605e;
  font-size: 16px;
  line-height: 1.2;
}

.carr ul {
  list-style: none;
}

.carr ul li::before {
  content: "\2022";
  color: #ff7d99;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.carr li {
  color: #36605e;
  font-size: 16px;
  line-height: 1.6;
}

.retangulo {
  width: 96px;
  height: 6px;
  border-radius: 18px;
  background: #ff7d99;
  margin-bottom: 16px;
}

.conhecaimg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conhecaimg {
  max-width: 200px;
}

#carrossel {
  overflow: hidden;
  margin-bottom: 64px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  align-items: center;
  justify-content: center;
}

.slick-dots li.slick-active button:before {
  color: rgba(255, 125, 153, 1) !important;
  font-size: 16px !important;
}

.slick-dots li button:before {
  color: rgba(255, 125, 153, 0.5) !important; /* Cor para o dot inativo */
  font-size: 16px !important;
}

#carrossel-dsk {
  display: block;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 64px 128px;
}
.carr-dsk {
  margin: 16px;
  border-radius: 16px;
  padding: 32px;
  background: #77d5d0;
}
.carr-dsk h2 {
  color: #fff;
  margin-bottom: 16px;
}

.carr-dsk p {
  color: #36605e;
  font-size: 14px;
  line-height: 1.2;
}

.carr-dsk ul {
  list-style: none;
}

.carr-dsk ul li::before {
  content: "\2022";
  color: #ff7d99;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.carr-dsk li {
  color: #36605e;
  font-size: 16px;
  line-height: 1.6;
}

.conhecaimg-container-dsk {
  position: relative;
}

.conhecaimg-container-dsk img {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}
/* fim carrossel */

/* footer */
#footer {
  position: relative; /* Define a posição como fixa */
  bottom: 0; /* Fixa o rodapé na parte inferior da janela */
  width: 100%; /* Faz o rodapé ocupar toda a largura da janela */
  z-index: 9999; /* Define um valor alto para o z-index */
}

.footer {
  background: #ff7d99;
  margin: 0px;
  padding: 64px;
  text-align: center;
}

.social img {
  padding: 16px;
  width: 40px;
  margin-top: 32px;
}

.direitos {
  background: #733845;
  padding: 16px;
}

.direitos p {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px;
}

.direitos a {
  text-decoration: none;
  color: #6bc0bb;
}
/* fim footer */

/* media queries */
@media screen and (max-width: 768px) {
  #carrossel {
    display: block;
  }
  #carrossel-dsk {
    display: none;
  }
  #cards {
    padding: 0px 64px;
    margin: 0px 0px 128px 0px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .conheca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px;
    gap: 32px;
    margin-top: 64px;
  }
  .quem {
    text-align: center;
    padding: 32px;
  }
}
