@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* 100% */
  letter-spacing: -1.8px;
}

#destaque {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  /* 100% */
  letter-spacing: -0.45px;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  /* 105% */
  letter-spacing: -0.45px;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125rem;
  letter-spacing: -0.45px;
  color: #939393;
}

li {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: -0.45px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7d99;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffa2b6;
}

/* fim geral */

/* botao */
.button-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 998;
  display: none;
}

.pulsating-button {
  animation: pulse 8s infinite;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  height: 50px;
  background-color: #ff7d99;
  color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(255, 125, 153, 0.5);
  border-radius: 64px;
  padding: 0px 32px;
  /* Reduzi a largura do padding para dar espaço extra */
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  white-space: nowrap;
  /* Impede que o texto quebre em várias linhas */
  min-width: 128px;
  margin-bottom: 64px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* fim botao */

/* botao dsk*/

.button-whats {
  position: fixed;
  bottom: 0;
  right: 16px;
  transform: translateX(-50%);
  z-index: 998;
}

.pulsating-button-whats {
  animation: pulse 8s infinite;
  text-decoration: none;
  font-size: 32px;
  line-height: 24px;
  display: flex;
  height: 64px;
  background-color: #ff7d99;
  color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(255, 125, 153, 0.5);
  border-radius: 64px;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  max-width: fit-content;
  margin-bottom: 64px;
}

.pulsating-button-whats:hover {
  background-color: #ffa2b6;
}

.pulsating-button-dsk {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  height: 50px;
  background-color: #ff7d99;
  color: #fff;
  border-radius: 64px;
  padding: 0px 32px;
  /* Reduzi a largura do padding para dar espaço extra */
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  white-space: nowrap;
  /* Impede que o texto quebre em várias linhas */
  min-width: 128px;
  max-width: fit-content;
  margin: 0px 0px 128px 128px;
  transition: transform 0.2s;
}

.pulsating-button-dsk:hover {
  transform: scale(1.05);
  background-color: #ffa2b6;
}

.conheca-pulsating-button-dsk {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  height: 50px;
  background-color: #ff7d99;
  color: #fff;
  border-radius: 64px;
  padding: 0px 32px;
  /* Reduzi a largura do padding para dar espaço extra */
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  white-space: nowrap;
  /* Impede que o texto quebre em várias linhas */
  min-width: 128px;
  max-width: fit-content;
  margin: 64px 0px 128px 0px;
  transition: transform 0.2s;
}

.conheca-pulsating-button-dsk:hover {
  transform: scale(1.05);
  background-color: #ffa2b6;
}

.chamada-pulsating-button-dsk {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  height: 50px;
  background-color: #ff7d99;
  color: #fff;
  border-radius: 64px;
  padding: 0px 32px;
  /* Reduzi a largura do padding para dar espaço extra */
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  white-space: nowrap;
  /* Impede que o texto quebre em várias linhas */
  min-width: 128px;
  max-width: fit-content;
  transition: transform 0.2s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.chamada-pulsating-button-dsk:hover {
  transform: scale(1.05);
  background-color: #ffa2b6;
}

/* fim botao dsk */

/* header */
#banner {
  display: none;
}

.banner-mobile {
  width: 100%;
  overflow: hidden;
}

.banner-mobile-img {
  width: 100%;
  height: auto;
  display: block;
  margin:18px 0;
}

.banner-elements {
  position: absolute;
  top: 0;
  padding: 64px;
}

.banner-elements h1 {
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.destaque {
  font-size: 48px;
  font-weight: 800;
  color: #ff7d99;
}

.banner-logo {
  margin-bottom: 80px;
  text-align: center;
}
.logo{
  max-width:512px;
  width:80%;
}
@media(max-width:768px){
  .logo {
    width:100%;
    max-width:512px;
    height:fit-content;
  }
}
/* fim header */

/* header dsk */
#banner-dsk {
  background-color: #77d5d0;
  max-height: 100vh;
}

#banner-dsk svg {
  display: block;
}

.banner-dsk {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-dsk h1 {
  margin: 128px 0px 64px 128px;
  color: #fff;
  font-size: 64px;
  line-height: 4rem;
}

.destaque-dsk {
  font-size: 64px;
  font-weight: 800;
  color: #ff7d99;
}

.banner-logo-dsk {
  margin: 80px 0px 24px 128px;
}

.img-banner-dsk {
  height: auto;
  max-width: 90%;
  margin-top: 64px;
  position: relative;
  top: 0px;
  z-index: 900;
}

/* fim header dsk */

/* sobre */
.quem {
  text-align: center;
  padding: 0px 256px 0px 256px;
  background-color: #fff;
  margin-bottom: 128px;
  margin-top: 128px;
}

.quem h2 {
  margin-bottom: 16px;
  color: #77d5d0;
}

.quem-retangulo {
  width: 128px;
  height: 6px;
  border-radius: 18px;
  background: #ff7d99;
  margin-top: 64px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.conheca {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 128px;
  gap: 32px;
  margin-top: 256px;
}

.conheca-text {
  margin-left: 128px;
}

.conheca h2 {
  margin-bottom: 16px;
  color: #77d5d0;
}

.chamada-desk {
  display: block;
  text-align: center;
  padding: 0px 256px 0px 256px;
  background-color: #fff;
  margin: 256px 0px 128px 0px;
  color: #77d5d0;
  font-size: 64px;
}

.conhecaimg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.conhecaimg {
  max-width: 200px;
}

.conhecaimg-container-dsk {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
}

/* fim sobre */

/* cards */
#cards {
  padding: 0px 128px;
  margin: 0px 0px 128px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.servicos {
  margin: 16px;
  border-radius: 16px;
  padding: 32px;
  border: 2px solid #77d5d0;
  height: 60%;
  background: #f8f8f8;
}

.servicos h3 {
  color: #77d5d0;
  margin-top: 16px;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 64px;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid #77d5d0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 48px;
  /* Posicione o círculo acima do título ajustando o valor conforme necessário */
  left: 50%;
  /* Centralize horizontalmente */
  transform: translateX(-50%);
  /* Centralize horizontalmente */
}

/* fim cards */

/* carrossel */
#carrossel {
  display: none;
  margin-bottom: 100px;
}

.carr-space {
  padding: 0 20px;
}

.carr {
  width: 100%;
  min-height: 440px;
  border-radius: 16px;
  padding: 25px;
  background: #77d5d0;
}

.carrgrid {
  display: flex;
  justify-content: space-between;
}

.carr h2 {
  color: #fff;
  margin-bottom: 16px;
}

.carr p {
  color: #36605e;
  font-size: 16px;
  line-height: 1.2;
}

.retangulo {
  width: 96px;
  height: 6px;
  border-radius: 18px;
  background: #ff7d99;
  margin-bottom: 16px;
}

.carr li {
  color: #36605e;
  font-size: 16px;
  line-height: 1.6;
}

.slick-dots li.slick-active button:before {
  color: rgba(255, 125, 153, 1) !important;
  font-size: 16px !important;
}

.slick-dots li button:before {
  color: rgba(255, 125, 153, 0.5) !important;
  /* Cor para o dot inativo */
  font-size: 16px !important;
}

#carrossel-dsk {
  display: block;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 64px 0px;
  margin: 0px 128px;
}

.carr-dsk {
  margin: 16px;
  border-radius: 16px;
  padding: 32px;
  background: #77d5d0;
}

.carr-dsk h2 {
  color: #fff;
  margin-bottom: 16px;
}

.carr-dsk p {
  color: #36605e;
  font-size: 14px;
  line-height: 1.2;
}

.carr-dsk ul {
  list-style: none;
}

.carr-dsk ul li::before {
  content: "\2022";
  color: #ff7d99;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.carr-dsk li {
  color: #36605e;
  font-size: 16px;
  line-height: 1.6;
}

.conhecaimg-dsk {
  width: auto;
  height: 400px;
}

.conhecaimg-container-dsk {
  position: relative;
}

.conhecaimg-container-dsk-img {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}

/* fim carrossel */

/* footer */
#footer {
  position: relative;
  /* Define a posição como fixa */
  bottom: 0;
  /* Fixa o rodapé na parte inferior da janela */
  width: 100%;
  /* Faz o rodapé ocupar toda a largura da janela */
  z-index: 9999;
  /* Define um valor alto para o z-index */
}

.curved-upper {
  background-color: #fff;
  display: block;
}

.curved-upper svg {
  background-color: #fff;
  display: block;
}

.footer {
  background: #ff7d99;
  margin: 0px;
  text-align: center;
  padding: 64px;
}

.social {
  margin-top: 32px;
}

.social-img {
  width: 40px;
  height: 40px;
  margin: 15px;
  transition: transform 0.2s;
}

.social-img {
  transform: scale(1.05);
}

.direitos {
  background: #77d5d0;
  padding: 16px;
}

.direitos p {
  color: #36605e;
  font-size: 16px;
  text-align: center;
  padding: 16px;
}

.direitos a {
  text-decoration: none;
  color: #ff7d99;
}

/* fim footer */

/* media queries */
@media screen and (max-width: 768px) {
  #carrossel {
    display: block;
  }

  #carrossel-dsk {
    display: none;
  }

  #cards {
    padding: 0px 0px;
    margin: 0px 0px 128px 0px;
    text-align: center;
    display: block;
  }

  .conheca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px;
    gap: 32px;
    margin-top: 64px;
  }

  .quem {
    text-align: center;
    padding: 32px;
    margin-top: 0px;
  }

  .container {
    position: relative;
    text-align: center;
    margin-top: 0px;
  }

  #banner {
    display: block;
  }

  #banner-dsk {
    display: none;
  }

  .button-container {
    display: block;
  }

  .button-container-dsk {
    display: none;
  }

  .conheca-button-container-dsk {
    display: none;
  }

  .conheca-text {
    margin-left: 0px;
  }

  .chamada-desk {
    display: none;
  }

  .conhecaimg-container {
    display: block;
  }

  .conhecaimg-container-dsk {
    display: none;
  }

  .button-whats {
    display: none;
  }
}